@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --primary-font: "Open Sans", sans-serif;
    --secondary-font: "Luckiest Guy", cursive;
    --white-text-color: #FFFFFF;
    --black-text-color: #23272A;
}

* {
    font-family: var(--primary-font);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: column;
    background-image: url("./assets/images/fundo.png");
    background-size: cover;
    background-position: 72.8% center;
    background-repeat: no-repeat;
    height: 600px;
}
header .header-content{
    margin-top: 69px;
    min-width: 428px;
    padding: 24px;
}
.header-content h1{
    width: 278px;
    font-family: var(--secondary-font);
    color: var(--white-text-color);
    font-size: 32px;
    font-weight: 400;
}
.header-content p{
    color: var(--white-text-color);
    font-size: 18px;
    padding-top: 24px;
    padding-bottom: 24px;
    min-width: 381px;
    min-height: 132px;
    font-weight: 400;
}
.header-content .buttons{
    display: flex;
    flex-direction: column;
    gap: 24px;
    min-width: 381px;
}
.buttons button{
     border-radius: 100px;
     background-color: var(--white-text-color);
     border: none;
     min-height: 54px;
     font-size: 16px;
}
.buttons button:last-child{
    background-color: var(--black-text-color);
    color: var(--white-text-color);
}